
chessCPP/.vs/chessCPP/v17/.suo
chessCPP/.vs/chessCPP/v17/Browse.VC.db
chessCPP/.vs/chessCPP/v17/Browse.VC.db-shm
chessCPP/.vs/chessCPP/v17/Browse.VC.opendb
chessCPP/.vs/chessCPP/v17/Browse.VC.db-wal
chessCPP/.vs/chessCPP/v17/ipch/AutoPCH/5c2c94b5cfabda1d/CHESSMAIN.ipch
chessCPP/chessCPP.sln
chessCPP/chessCPP.vcxproj
chessCPP/chessCPP.vcxproj.user
chessCPP/chessCPP.vcxproj.filters
chessCPP/.vs/chessCPP/v17/ipch/AutoPCH/e3215ee10212cd65/CHESSMAIN.ipch
chessCPP/x64/Debug/chessCPP.exe.recipe
chessCPP/x64/Debug/chessCPP.tlog/chessCPP.lastbuildstate
chessCPP/x64/Debug/chessCPP.tlog/unsuccessfulbuild
chessCPP/x64/Debug/chessCPP.tlog/CL.command.1.tlog
chessCPP/x64/Debug/chessCPP.log
chessCPP/x64/Debug/vc143.idb
chessCPP/x64/Debug/vc143.pdb
myMLApp/.vs/myMLApp/DesignTimeBuild/.dtbcache.v2
myMLApp/.vs/myMLApp/FileContentIndex/299199cf-5d42-46cf-9923-17ccb05d40b2.vsidx
myMLApp/.vs/myMLApp/FileContentIndex/6c48fe9b-ee68-4ebc-a1d9-ec5e1591fd3e.vsidx
myMLApp/.vs/myMLApp/FileContentIndex/read.lock
myMLApp/.vs/myMLApp/v17/.suo
*.v2
*.v1
*.vsidx
*.sln
*.dll
*.json
*.pdb
*.so
*.dylib
*.csproj
*.exe
*.cs
*.cache
*.CopyComplete
*.editorconfig
*.props
*.targets
*.mbconfig
*.zip
*.txt
*.BuildWithSkipAnalyzers
chessCPP/.vs/chessCPP/v17/ipch/AutoPCH/d2a24d765bb3733a/GAMEBOARD.ipch
chessCPP/.vs/chessCPP/v17/ipch/AutoPCH/8f379443b87decfd/VCTMP9980_5298.CHESSMAIN.00000000.ipch
chessCPP/.vs/chessCPP/v17/ipch/AutoPCH/6cb96cac86b2451f/GAMEBOARD.ipch
chessCPP/.vs/chessCPP/v17/ipch/AutoPCH/27346cf9df1426c5/PLAYERAI.ipch
chessCPP/.vs/chessCPP/FileContentIndex/1036f3d6-35ff-4bb3-b8af-22f2d5abb7e4.vsidx
chessCPP/.vs/chessCPP/v17/ipch/AutoPCH/f4468eec3493a4c/PLAYERAI.ipch
chessCPP/.vs/chessCPP/FileContentIndex/1036f3d6-35ff-4bb3-b8af-22f2d5abb7e4.vsidx
chessCPP/.vs/chessCPP/FileContentIndex/1036f3d6-35ff-4bb3-b8af-22f2d5abb7e4.vsidx
